.Top {
  background-color: #95D1CC;
  position: relative;
  padding-top: 100px;
}

h1 {
  padding-top: 8%;
  font-size: 5.00rem;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #5584AC;
  line-height: 2;
}

h2 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-style: normal; font-variant: normal; line-height: 26.4px;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  margin: 0;
  padding-bottom: 10px;
}
.programmer {
  color: #5584AC;
}

body {
  margin: 0;
  text-align: center;

}

.Middle {
  background-color: #22577E;
  padding: 100px 0;
}

.Bottom {
  background-color: #5584AC;
  height: 200px;
  padding-top: 50px;
}

.pro {
  text-decoration: underline;
}

.bottomcloud {
  position: absolute;
  left: 15%;
  top: 45%
}

.topcloud {
  position: absolute;
  right: 18%;
  top: 15%;
}
.sarah{
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mountain {
  margin-bottom: 0;

}
h3 {
  color: #5584AC;
  display: inline-block;
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-style: oblique; font-variant: normal; line-height: 26.4px;


}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a {
  color: #22577E;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-style: normal; font-variant: normal; line-height: 26.4px;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover {
  color: #EAF6F6;
}
.welcome {
  color: #FAFFAF;
  width:45%;
  margin: auto;
font-size: 20px;
padding-bottom:70px;
padding-top: 50px;
}
p {
  color: #FAFFAF;
  font-size: 20px;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-style: normal; font-variant: normal; line-height: 26.4px;
line-height: 2;}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.accounting {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.design {
  width: 20%;
  float: left;
  margin-right: 30px;
}
.getintouch {
  padding-bottom: 35px;
}
.btn {
  background: #22577E;
  background-image: -webkit-linear-gradient(top, #22577E, #95D1CC);
  background-image: -moz-linear-gradient(top, #22577E, #95D1CC);
  background-image: -ms-linear-gradient(top, #22577E, #95D1CC);
  background-image: -o-linear-gradient(top, #22577E, #95D1CC);
  background-image: linear-gradient(to bottom, #22577E, #95D1CC);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-style: normal; font-variant: normal; line-height: 26.4px;
  color: #FAFFAF;
  font-size: 27px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #5584AC;
  text-decoration: none;
}
.hesitate {
  padding-bottom: 30px;
  margin: 40px auto 60px;
  width: 40%;
}
.bottom {
  padding-top: 60px;
}
.data-entry {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.copywright {
  color: #22577E;
  font-size: 0.75rem;
  padding: 20px 0;
}
.acknowledgment {
  font-size: 0.5rem;
}
